  <!-- Contenido de la pestaña de Publicaciones (puedes agregar contenido aquí) -->
  <div id="publicaciones" class="tab-content mt-5">
    <div class="d-flex justify-content-center">
      <img src="../../assets/images/logoSinFondo.png" alt="logo" width="150" height="150">
    </div>
    <h1 class="text-center mb-3">Publicaciones</h1>
    <div class="row mx-5">
      <div class="col-md-3">
        <div class="card shadow border-2">
          <img src="https://picsum.photos/200?random=1" class="card-img-top" alt="random">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
            <a href="./comentarios.html" class="btn btn-outline-primary bg-primary-subtle">ver comentarios</a>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="card shadow border-2">
          <img src="https://picsum.photos/200?random=2" class="card-img-top" alt="random">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
            <a href="./comentarios.html" class="btn btn-outline-primary bg-primary-subtle shadow">ver comentarios</a>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="card shadow border-2">
          <img src="https://picsum.photos/200?random=3" class="card-img-top" alt="random">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
            <a href="./comentarios.html" class="btn btn-outline-primary bg-primary-subtle shadow">ver comentarios</a>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="card shadow border-2">
          <img src="https://picsum.photos/200?random=4" class="card-img-top" alt="random">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
            <a href="./comentarios.html" class="btn btn-outline-primary bg-primary-subtle shadow">ver comentarios</a>
          </div>
        </div>
      </div>
    </div>

  </div>
