<!-- Contenido de la pestaña de Tareas -->
<div class="container">
  <div id="tareas" class="tab-content mt-5 mx-5">
    <div class="d-flex justify-content-center">
      <img src="../../assets/images/logoSinFondo.png" alt="logo" width="150" height="150">
    </div>
    <h1 class="text-center">Lista de Tareas </h1>
    <!-- Formulario para agregar nuevas tareas -->
    <div class="form-group mb-3">
      <label for="nombreTarea">Ingresa Nueva Tarea</label>
      <br>
      <input class="shadow rounded-3" type="text" id="nombreTarea" required>
      <button id="agregarTarea" class="btn btn btn-outline-primary bg-primary-subtle shadow border-2 mx-2">Agregar<i class="fa-solid fa-folder-plus mx-2"></i></button>
    </div>
    <!-- Tabla para mostrar las tareas -->
    <div class="contenedor-tabla shadow">
      <table class="table-custom table table-hover">
        <thead>
          <tr>
            <th>ID</th>
            <th>Nombre de la Tarea</th>
            <th>Estado</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody id="tablaTareas" >
          <!-- Las tareas se agregarán dinámicamente aquí desde JavaScript -->
          <tr *ngFor="let tarea of tareas.slice((paginaActual - 1) * tareasPorPagina, paginaActual * tareasPorPagina)">
            <td>{{ tarea.id}}</td>
            <td>{{ tarea.title}}</td>
            <td [ngStyle]="{'color': tarea.completed ? 'green' : 'red'}">
              <span *ngIf="tarea.completed; else sinCompletar">Completado</span>
              <ng-template #sinCompletar>Sin Completar</ng-template></td>
            <td>
              <button class="btn-editar btn btn-light mx-3" style="border-color:#f8d65b"><i class="fa-solid fa-pen-to-square"
                  style="color: #f8d65b;"></i></button>
              <button class="btn-eliminar btn btn-light"style="border-color: #d10000"><i class="fa-solid fa-trash"
                  style="color: #d10000;"></i></button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- Paginación -->
    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-center mt-5">
        <li class="page-item">
          <a class="page-link" (click)="cambiarGrupo(grupoActual - 1)" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        <ng-container *ngFor="let pagina of paginas">
          <li class="page-item">
            <a class="page-link" (click)="cambiarPagina(pagina)">{{ pagina }}</a>
          </li>
        </ng-container>
        <li class="page-item">
          <a class="page-link" (click)="cambiarGrupo(grupoActual + 1)" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>
